<h1>About Us</h1>
<p>
  CIX is a social consumer review platform that allows you to 
  to see what your friends are buying. Use CIX to get your daily fix
  on the hottest gossip, trends, deals, and events from your closest
  circles of friends.
</p>
